<!DOCTYPE html>
<html>

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Word Scramble</title>
		<link rel="stylesheet" href="public/styles/style.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
		<script src="public/js/controller/script.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>

	<body ng-app="wordScramble"  ng-cloak>

		<div ng-controller="wordScrambleCtrl" class="container scrambler">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<h2>Scrambled Word</h2>
				</div>
				
				<div class="col-md-2 col-md-offset-2">
					<h2>Score: {{score}}</h2>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-md-1 col-md-offset-1 item" ng-repeat="item in arr track by item.id" >
					{{item.id}}
				</div>
			</div>
			<br /><br /><br /><br />
			<div class="row top-buffer">
				<div class="col-md-4 col-md-offset-3">
					<input ng-model="result" class="form-control" type="text" placeholder="Enter here......"  ng-change="swap($event)">
				</div>
				<div class="col-md-1 col-md-offset-0.5">
					<button ng-click="refresh()" class="btn btn-primary">
						Next
					</button>
				</div>
			</div>
			<br/>
			<br/>
			<h2 align="center" ng-bind="message"></h2>
		</div>
		</div>
	</body>

</html>

